XMLTESTS/validatorPurePhp/files/validator.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="bookSupplier1">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="books">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="book" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="title"/>
                                        <xs:element type="xs:string" name="isbn"/>
                                        <xs:element type="xs:string" name="language"/>
                                        <xs:element type="xs:short" name="pages"/>
                                        <xs:element type="xs:string" name="publication_date"/>
                                        <xs:element type="xs:string" name="publisher"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
